.anymore1 {
padding: 3% 0% 0% 0%;
}

.anymore {
  position: relative;
  width: 100%;
  height: 500px;
}

.anymore img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transform-origin: center center;
  z-index: -1;
  transition: transform 2s ease;
  transform: scale(1) translateX(0);

}

.anymore h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.164);
  padding: 50px 50px;

  /* 中央寄せ */
  display: flex;
  justify-content: center;
  align-items: center;

  /* アニメーション追加 */
  animation: rotatee 20s linear infinite;
}



@keyframes rotatee {
  0% {
    transform: translate(-50%, -50%) rotate(1.2deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-1.2deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1.2deg);
  }
}


@media (max-width: 700px) {
  .anymore h1 {
    font-size: 1.4rem;
    margin: 0px;
  }
  .ready h2{
    font-size: 2.5rem;
  }

  .anymore h1{
    font-size: 2.5rem;
    padding: 2%;
  }

}

.under {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
}

.under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-image: repeating-linear-gradient(to right,
      white 0,
      white 4px,
      transparent 4px,
      transparent 8px);
  background-size: 200% 100%;
  animation: dashMove 100s linear infinite;
}

@keyframes dashMove {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}