@charset "UTF-8";

@media (max-width: 600px) {

    /* ヒーローセクションのグリッドの調整 */


    .hero-section {
        grid-template-columns: 1fr;
    }

    /* キャッチコピーを全幅表示に */
    .hero-section h1 {
        grid-column: 1 / -1;
        /* 一列目から最終列まで */
        grid-row: 1;
        /* 一行目に表示 */
        font-size: 1.5rem;
        /* SP用にフォントサイズを調整 */
        text-align: center;
        /* 中央寄せ */
    }

    /* 説明用のテキストは非表示にする */
    .hero-section .grid-2 {
        display: none;
    }

    /* 画像を全幅に表示 */
    .hero-section .grid-3 {
        grid-column: 1 / -1;
        /* 一列目から最終列まで */
        grid-row: 2;
        /* 二行目に表示 */
    }
    
    /* アイテムの表示を全幅にしてブラウザ幅に合わせる */


    /*-----------------------------------------------------------------------0002*/
    .hero-section_2 {
        grid-template-columns: 1fr;
    }

    /* キャッチコピーを全幅表示に */
    .hero-section_2 p {
        grid-column: 1 / -1;
        /* 一列目から最終列まで */
        grid-row: 1;
        /* 一行目に表示 */
        font-size: 1.5rem;
        /* SP用にフォントサイズを調整 */
        text-align: center;
        /* 中央寄せ */
        justify-self: center;
    }

    /* 説明用のテキストは非表示にする */
    .hero-section_2 .grid-2_2 {
        display: none;
    }

    /* 画像を全幅に表示 */
    .hero-section_2 .grid-3_2 {
        grid-column: 1 / -1;
        /* 一列目から最終列まで */
        grid-row: 2;
        /* 二行目に表示 */
    }

    /*-----------------------------------------------------------------------0003*/
    .hero-section_3 {
        grid-template-columns: 1fr;
    }

    /* キャッチコピーを全幅表示に */
    .hero-section_3 p {
        grid-column: 1 / -1;
        /* 一列目から最終列まで */
        grid-row: 1;
        /* 一行目に表示 */
        font-size: 1.5rem;
        /* SP用にフォントサイズを調整 */
        text-align: center;
        /* 中央寄せ */
        justify-self: center;
    }

    /* 説明用のテキストは非表示にする */
    .hero-section_3 .grid-2_3 {
        display: none;
    }

    /* 画像を全幅に表示 */
    .hero-section_3 .grid-3_3 {
        grid-column: 1 / -1;
        /* 一列目から最終列まで */
        grid-row: 2;
        /* 二行目に表示 */
    }
}
