:root {
    --main-color: #E9E0CE;
    --second-color: #FBF7EE;
    --sed-color: #DBD3BF;
    --banner-color: #fbffc7;
    --bg-color-rgba: 0, 104, 59;
    /*anymore*/
}

.letgo2 {
    width: 100%;
    height: auto;
    background-color: rgb(219 211 191);
}

.letgo {

    padding: 0 10% 0 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 2列 */
    grid-template-rows: repeat(3, auto);
    /* 3行 */
    gap: 30px;

}

.item_1 {
    background-color: #f5f5f5;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 2s ease;
    transform: rotate(0.4deg) scale(1.0);
}

.item_1:hover {
    transition: transform 2s ease;
    transform: rotate(-0.2deg) scale(1.05);
}

.item_2 {
    background-color: #f5f5f5;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 2s ease;
    transform: rotate(-0.6deg) scale(1.0);
}

.item_2:hover {
    transition: transform 2s ease;
    transform: rotate(0.3deg) scale(1.05);
}



.item_3 {
    background-color: #f5f5f5;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 2s ease;
    transform: rotate(1deg) scale(1.0);
}
.item_3:hover {
    transition: transform 2s ease;
    transform: rotate(-1deg) scale(1.05);
}




.item2 {
    padding: 10px;
    box-sizing: border-box;

}

.image1 img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.image1 {
    font-size: 1.8rem;
    margin: 2%;
}


.text {
    background-color: #ebebeb;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
    box-shadow:
        inset 0 3px 10px rgba(0, 0, 0, 0.2),
        0 3px 10px rgba(0, 0, 0, 0.2);
}




.grid-container {
    font-size: 1rem;
}

@media (max-width: 700px) {
    .text {
        font-size: 1.2rem;
        margin: 0px;
    }

}