/*--------top 項目----------*/
body {}

.container {
    display: grid;
    /* 三列のレイアウトにする */
    grid-template-columns: repeat(3, 1fr);
    /* 行の高さはコンテンツに合わせて調整 */
    grid-template-rows: auto;
    row-gap: 16px;
    column-gap: 16px;
    margin: 5%;
}

header {
    /* 1列目から最終列までコンテナの全幅 */
    grid-column: 1 / -1;
    grid-row: 1;
}

main {
    /* 1列目から最終列までコンテナの全幅 */
    grid-column: 1 / -1;
    /* 子要素を縦に並べるためにflexを利用する */
    display: flex;
    flex-direction: column;
    gap: 16px;
}


